<configuration scan="true">

    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%-5p] [%d{yyyy:MM:dd HH:mm:ss:SSS}]: %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="TradesAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/devei/INSTALL/logs/exmo/trades.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/devei/INSTALL/logs/exmo/trades.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5p] [%d{yyyy:MM:dd HH:mm:ss:SSS}]: %m%n</pattern>
        </encoder>
    </appender>

    <logger name="src.by.minsk.kes.exmo" level="DEBUG" additivity="false">
        <appender-ref ref="TradesAppender"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>